*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{ 
  font-family: "Arya", sans-serif;
  background: #a8d5f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
    width: 80%;
    max-width: 500px;
    background: linear-gradient(135deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    margin: 0 auto;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    line-height: 50px;
    border-radius: 24px;
    margin-right: 16px;
    font-size: 16px;
    width: 75%;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 16px;
}
.search button img{
    max-width: 16px;
}
.weather-icon{
    width: 100px;
    margin-top: 20px;
}
.weather h1{
    font-size: 64px;
    font-weight: 500;
    margin-top: -20px;
}
.weather h2{
    font-size: 48px;
    font-weight: 400px;
    margin-top: -40px;
}
.details{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.first{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.Second{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left; 
}
.col img{
    width: 50px;
}
.humidity, .wind{
    font-size: 24px;
    margin-top: -6px;
} 
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 12px;
    font-size: 16px;
    margin-top: 10px;
    display: none;
}